$padding-container: 18px;
$transition-hover: all 120ms linear;

.layout {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  position: relative;


  user-select: none;
  cursor: pointer; 
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgb(24 24 24 / 94%) 50%, #4a6431 100%);
    filter: grayscale(100%);
    opacity: 0.4;
    z-index: 1;
    transition: $transition-hover;
  }

  &:hover {

    &:after {
      filter: grayscale(0);
      opacity: 1;
    }

    .banner {
      opacity: 1;
    }

    .date {
      background-color: #8AF827;
      color: #101010;
    }

    .footer {
      background-color: #649C30;
      color: #101010;
    }
  }
}

.body {
  position: relative;
  z-index: 2; 
}

.banner {
  width: 100%;
  height: 110px;
  object-fit: cover;
  opacity: 0.5;
  transition: $transition-hover;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  position: relative;
  z-index: 4;

  h3 {
    padding-bottom: 4px;
  }
}

.image {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  object-fit: cover;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  z-index: 3;
  position: relative;
  padding: 22px;

}

.description {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #C7D2BE;
  align-items: center;
  justify-content: center;
}


.date {
  background-color: #323232;
  padding: 8px $padding-container;
  color: #d5d5d5;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  transition: $transition-hover;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: #C7D2BE;
}


.value {
  color: #ffffff;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #262626;
  color: #5d5d5d;

  transition: $transition-hover;
}