.layout {
  display: flex;
  flex-direction: row;
  gap: 20px;
}


.link {
  color: $green-07;

  &:hover {
    color: $white;
  }

  transition: color 120ms linear;

  svg {
    width: 24px;
    height: 24px;
  }
}
