.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 42px;
  cursor: pointer;
  user-select: none;
  padding-bottom: 42px;
}

.tabs {
  padding-top: 128px;
  padding-bottom: 42px;

  @include bottomLighting();

  .tab {
    font-size: 20px;
  }
}

.grid {
  display: grid;
  gap: 22px;

  &.two {
    grid-template-columns: 1fr 1fr;
  }

  &.three {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &.twoAlignLeft {
    grid-template-columns: 200px 1fr;
  }

  @include respond-to(mobile) {
    grid-template-columns: 1fr !important;

    &.withPaddingTop {
      padding-top: 72px;
    }
  }

  @include respond-to(tablet-vertical) {
    grid-template-columns: 1fr !important;

    &.withPaddingTop {
      padding-top: 72px;
    }
  }


  transition: all 120ms linear;

  &.disabled {
    opacity: 0.5;
    filter: grayscale(1);
  }
}

.banner {
  position: relative;
  height: 500px;
}

.bannerImg, .avatarImg {
  height: 100%;
  width: 100%;
}

.avatarImg {

  h3 {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  svg {
    width: 40px;
    height: 40px;
  }

  img {
    width: 200px !important;
    height: 200px !important;
  }
}


.avatar {
  left: 22px;
  bottom: 22px;
  position: absolute;

  width: 182px;
  height: 182px;

  @include respond-to(mobile) {
    left: calc(50% - 91px);
    bottom: -62px;
  }

  @include respond-to(tablet-vertical) {
    left: calc(50% - 91px);
    bottom: -62px;
  }
}

.actions {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.imagePreview {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 0 4px #303529a1;

  &:hover {
    box-shadow: 0 0 0 4px yellowgreen;
  }

  transition: box-shadow 120ms linear;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.amountToRaise {
  background-color: #151613;
  padding: 18px;
  border-radius: 8px;
  border: 1px solid #303529;
}