
.layout {
  display: grid;
  place-items: center;

  padding: 140px 32px;
  gap: 62px;

  position: relative;
  width: 100%;

  color: $green-04;
}

.monitor {
  position: absolute;
  inset: 0;
  z-index: 4;
}

.title {
  color: $green-03;
  position: relative;
  user-select: none;

  font-size: 20px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: -2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-shadow: 2px 2px 2px #000000db;
  font-family: "Press Start 2P", serif !important;

  @include crtAnimation();
}

.field {
  display: flex;
  gap: 14px;
  flex-direction: column; 
}

.description {
  color: $green-04;
  @include crtAnimation();
}

.steps {
  max-width: 1400px;
  margin: 0 auto;
}
