.layout {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  padding: 18px;
  background: $black;
  border: none;
  border-radius: 8px;
  outline: 1px solid $black;
  color: $white;
  font-size: 14px;

  &:focus {
    outline: 1px solid $green-03;
  }

  transition: 120ms linear;
}
