.layout {
  display: flex;
  flex-direction: column;
}

.banner {
  position: relative;
  z-index: 4;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgb(8 13 4) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
  }
  
  img {
    object-fit: cover;
  }
}

.tab {
  padding: 10px 0;
  background: linear-gradient(270deg, #0d1803 0%, rgba(0, 0, 0, 0.7) 100%);
  border-bottom: 1px solid rgba(42, 53, 30, 0.8);
  border-top: 1px solid rgba(42, 53, 30, 0.8);
  backdrop-filter: blur(6px);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  @include pageMargin();
}