
.layout {
  padding: 0 32px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  gap: 42px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 42px;

  @include respond-to(mobile) {
    grid-template-columns: 1fr;
  }

  @include respond-to(tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

.actions {
  display: flex;
  justify-content: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 82px 12px;
}

.loader {
  color: $green-03;

  @include crtAnimation();
}
