.layout, .section {
  width: 100%;
}

.section {
  padding-top: 120px;

  &:nth-child(1) {
    position: relative;
    height: 100vh;

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom, transparent, black);
    }
  }

  &.green {
    border-top: 4px dashed $green-02;
    border-bottom: 4px dashed $green-02;
    padding: 0 !important;
    background-color: #080b05;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.stepper {
  position: fixed;
  top: calc(100vh / 2);
  right: 22px;
  z-index: 4;
}
