.layout, .section {
  width: 100%;
}

.section {
  padding-top: 120px;

  &:nth-child(1) {
    position: relative;
    height: 100vh;

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom, transparent, black);
    }
  }
}

.stepper {
  position: fixed;
  top: calc(100vh / 2);
  right: 22px;
  z-index: 4;
}
