.container {
  display: flex;
  flex-direction: column;
  align-items: center;;
  gap: 42px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: $green-04;
}

.title {
  color: $green-03;
}

.stepper {
  border-radius: 12px;
  padding: 32px 12px;
  background: linear-gradient(-120deg, #151812 0%, rgb(10 17 6) 100%);
  border: 1px solid $green-06;
}

.stepNumber {
  position: relative;
  top: 2px;
}