.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms linear;
  border-radius: 6px;
  border: none;

  &:not([disabled]) {
    cursor: pointer;
  }

  span {
    white-space: nowrap;
  }
}

.small {
  gap: 12px;
  padding: 0 12px;
  height: 42px;

  svg {
    font-size: 22px;
  }
}
.medium {
  gap: 12px;
  padding: 0 12px;
  height: 48px;

  svg {
    font-size: 22px;
  }
}

.large {
  gap: 12px;
  padding: 0 22px;
  height: 58px;

  svg {
    font-size: 22px;
  }
}

.solid {
  background: $green-04;
}

.outline {
  background: transparent;
  border: 1px solid $green-04;
}

.ghost {
  background: transparent;
  border: none;
}

.primary {
  &.solid {
    background: $green-04;

    &:not([disabled]) {
      &:hover {
        color: $green-01;
        background: #eaf2e4;
      }

      &:active {
        color: $green-01;
        background: #bfc6ba;
      }
    }
  }

  &.ghost {
    color: $green-04;

    &:not([disabled]) {
      &:hover {
        color: $green-03;
        background: $green-06;
      }

      &:active {
        color: $green-03;
        background: $green-01;
      }
    }
  }
}

.warning {
  &.solid {
    background: rgb(53, 44, 30);
    color: rgb(255 215 35);

    &:not([disabled]) {
      &:hover {
        background: rgb(87, 71, 43);
      }

      &:active {
        background: rgb(36, 30, 20);
      }
    }
  }
}

.error {
  &.solid {
    background: rgb(87 31 31);
    color: rgb(240, 80, 80);

    &:not([disabled]) {
      &:hover {
        background: rgb(111, 42, 42);
      }

      &:active {
        background: rgb(64, 22, 22);
      }
    }
  }
}